@use '../styles.scss' as *;

main {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    background-color: var(--clr-secondary);

    & .search-bar {
        width: 100%;
        min-height: 2rem;
        border-radius: 5px;
        color: var(--clr-primary);
        background: var(--background);
        padding: 0.5rem 1rem;
        border: 0;
    }
    & button {
        font-size: 1rem;
        background: var(--clr-primary);
        color: var(--clr-text);
        border: 0;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            background: var(--clr-accent);
            color: var(--clr-primary);
        }
        &::before {
            content: '+';
        }
        @include mq(600px) {
            min-width: 20%;
            &::before {
                content: 'Add Note';
            }
        }
    }
}