@use '../styles.scss' as *;

main {
    height: 100%;
    width: 100%;
}

// Navigation
header {
    --grid-unit: 32;
    --grid-val: calc(100/var(--grid-unit));
    --site-width: 1200px;
    --side-padding: calc(var(--grid-val)*2vw);

    display: flex;
    width: 100%;
    padding: 1em var(--side-padding);
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-secondary);

    & .search-bar {
        width: 100%;
        min-height: 2rem;
        border-radius: 5px;
        color: var(--clr-primary);
        background: var(--background);
        padding: 0.5rem 1rem;
        border: 0;
    }
    & button {
        font-size: 1rem;
        background: var(--clr-primary);
        color: var(--clr-text);
        border: 0;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            background: var(--clr-accent);
            color: var(--clr-primary);
        }
        &::before {
            content: '+';
        }
        @include mq(40em) {
            min-width: 20%;
            &::before {
                content: 'Add Note';
            }
        }
        @include mq(60em) {
            min-width: 10%;
        }
    }
    @include mq(84em) {
        padding: 2em var(--side-padding);
    }
}

// Note Section

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--clr-primary);
    margin: 1em 0;
}

.container {
    --max-width: 1110px;
    --container-padding: 1rem;
    
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));  
    margin-inline: auto;
}

.note-section {
    display: grid;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70%;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 1rem;
    padding: 1em;
    @include mq(60em) {
        max-width: 70%;
    }
}

.note {
    background: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background: var(--clr-accent);
    }
    & .note-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    & .note-content {
        font-size: 1rem;
    }
    & .note-actions {
        display: flex;
        gap: 1rem;
        position: absolute;
        bottom: 1em;
        right: 1em;
        & button {
            background: var(--clr-primary);
            color: var(--clr-text);
            border: 0;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover,
            &:focus {
                background: var(--clr-accent);
                color: var(--clr-primary);
            }
        }
    }
}