<main>
  <header class="side-padding">
    <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchValue" (input)="searchNotes()" />
    <button (click)="toggleForm()"></button>
  </header>
  @if(formToggle) {
  <app-note-form [callback]="toggleForm"></app-note-form>
  }
  <h1>Your Notes</h1>
  <section class="note-section" #noteSection>
    @if (!searchValue.length) {
      @for (note of notes; track $index) {
        <app-note 
        [title]="note.title"
        [content]="note.content"
        [index]="$index"
        [selectedNoteIndex]="selectedNoteIndex"
        (onSelectedNote)="onSelected($event)"
        (onEditNote)="onEditPressed($event)"
        (onDeleteNote)="onDeletePressed($event)">
        </app-note>
      }
      @empty {
        <p class="no-notes">No notes found</p>
      }
    }
    @if (searchValue.length) {
      @for (note of filteredNotes; track $index) {
        <app-note 
        [title]="note.title"
        [content]="note.content"
        [index]="$index"
        [selectedNoteIndex]="selectedNoteIndex"
        (onSelectedNote)="onSelected($event)"
        (onEditNote)="onEditPressed($event)"
        (onDeleteNote)="onDeletePressed($event)">
        </app-note>
      }
      @empty {
      <p class="no-notes">No notes found</p>
      }
    }
  </section>
</main>
